<!-- views/partials/header.ejs-->
  <% include ../partials/navbar %>
  
  <div class ="logo-title">
    <div class="img-con">
      <img id="logo" src="../../public/logo.png">
      <img id="title" src="../../public/title.png">
    </div>
  </div>
  <div class="container">     
    <div id="jum-top-main"class="jumbotron"  style="padding:40px;">
      <h1>SEASONAL CATEGORIES!</h1>
      <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Browse</a></p>
  </div>
        
        <div>
          <h2>Products</h2>
          <hr class="line-rule">
          <div id="products_jumbo"class="jumbotron">
            <div class="container">
                <div class="c"><h1>ADVERTISEMENT</h1></div>
                
                <% include ../shop/index.ejs %>    
              </div>
          </div>
        </div>
      </div>
        <!-- Nav -->