<!-- views/partials/homepage-products.ejs-->




<div class="row product-row1 ">
    <div class="col-md-4">
      <div class="product-container">
          <h2 class="product-name">Cubamoriz Dimension DX1 XXX1000XXX</h2>
        <div class="price-container">
          <p class="product-price">$120.00</p>
          <img src="../../public/Images/Products/cubamorizdx11000.png" alt="product_cubamorizdx11000-jacket" class="product-cubamoriz-dimension-x1000x">
        </div>
        High Quality Cotton Fleece, Planet Resoruces Gangstarizm Harcore xxx1000xxx Edition, Zipper Sleeve Included- fit your iphones and wallety inside.
      </div>
      <div class="b">
          <div class="buttn-bg">
              <a class="btn btn-success btn buy-button" href="#" role="button">Buy</a>
          </div>
      </div>
    </div>
    
    <div class="col-md-4">
        <div class="product-container">
            <h2 class="product-name">E3 Eylash with Durable Case</h2>
          <div class="price-container">
            <p class="product-price">$30.00</p>
            <img src="../../public/Images/Products/e3-eylash.png" alt="product_e3-eylash" class="product-e3-eylash">
          </div>
          A nice Pair of Pristine softlayer good stickin eyelashes extrralong lengths in E3 Size, comes with nice duty case Gold linin, to store away as needed. 
        </div>
        <div class="b">
            <div class="buttn-bg">
                <a class="btn btn-success btn buy-button" href="#" role="button">Buy</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="product-container">
            <h2 class="product-name">E5 Eylash with Durable Case</h2>
          <div class="price-container">
            <p class="product-price">$30.00</p>
            <img src="../../public/Images/Products/e5-eylash.png" alt="product_e5-eylash" class="product-e5-eylash">
          </div>
          A nice Pair of Pristine softlayer good stickin eyelashes extrralonglengths in E5 Size, comes with nice duty case Gold linin, to store away as needed.  
        </div>
        <div class="b">
            <div class="buttn-bg">
                <a class="btn btn-success btn buy-button" href="#" role="button">Buy</a>
            </div>
        </div>
    </div>
  </div>

  <br>

  <div class="row product-row2">
    <div class="col-md-4">
        <div class="product-container">
            <h2 class="product-name">16" Best Virgin Brazilian Brunette Hair Closures with Clips</h2>
        <div class="price-container">
            <p class="product-price">$150.00</p>
            <img src="../../public/Images/Products/16inch-brazilianclosure-10grade-brunette-prod.png" alt="product_16-virgin-inch-brazilianclosure-10grade-brunette" class="product-16inch-virgin-brazilianclosure-10-brunette">
        </div>
        Virgin ERxtrasoft Druable Silky soft to touch Virgin Bralian Burnete HairClosures comes with Attached Clips. 
        </div>
        <div class="b">
            <div class="buttn-bg">
                <a class="btn btn-success btn buy-button" href="#" role="button">Buy</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="product-container">
            <h2 class="product-name">product name</h2>
            <div class="price-container">
                <p class="product-price">$100.00</p>
                <img src="https://dummyimage.com/400x250/666566/71ff05" alt="product_template" class="product-img1">
            </div>
            Lorem Ipsum è un testo segnaposto utilizzato nel settore della tipografia e della stampa. Lorem Ipsum è considerato il testo segnaposto standard sin dal sedicesimo 
        </div>
        <div class="b">
            <div class="buttn-bg">
                <a class="btn btn-success btn buy-button" href="#" role="button">Buy</a>
            </div>
        </div>
        </div>
        <div class="col-md-4">
            <div class="product-container">
                <h2 class="product-name">product name</h2>
            <div class="price-container">
                <p class="product-price">$100.00</p>
                <img src="https://dummyimage.com/400x250/666566/71ff05" alt="product_template" class="product-img1">
            </div>
            Lorem Ipsum è un testo segnaposto utilizzato nel settore della tipografia e della stampa. Lorem Ipsum è considerato il testo segnaposto standard sin dal sedicesimo 
            </div>
            <div class="b">
                <div class="buttn-bg">
                    <a class="btn btn-success btn buy-button" href="#" role="button">Buy</a>
                </div>
            </div>
        </div>
</div>